/TIMEV2-2026-06-12-1520.zip

# Build artifacts
/dist/
/build/
/ScreenPresenceGuard.zip
*.spec
__pycache__/
*.pyc

# Personal face training data
/face_model.yml
/face_imgs.pkl

# Extracted ready-to-run release (recreated by build.ps1 + manual extract)
/ScreenPresenceGuard-Demo0.5/
